<link href="~/Content/GenericEdit.scss" rel="stylesheet" type="text/scss" />

@using quien_es_quien.Models
@model Character

@using (Html.BeginForm("Save", "Character")) {
    <div id="helios"></div>
    @Html.HiddenFor(x => x.Id)
    <label for="name">Nombre</label>
    @Html.TextBoxFor(x => x.Name, new { id = "name" })
    @Html.ValidationMessageFor(x => x.Name)

    foreach (CharacteristicType type in ViewBag.types) {
        <label>@type.Name</label>
        <select name="characteristics[]">
            @foreach (Characteristic ch in ViewBag.characteristics)
            {
                if (ch.Type == type.Id)
                {
                    if (Model.Characteristics.Contains(ch.Id))
                    {
                        <option selected value="@ch.Id" data-path="@ch.Url">@ch.Name</option>
                    }
                    else
                    {
                        <option value="@ch.Id" data-path="@ch.Url">@ch.Name</option>
                    }
                }
            }
        </select>
        <div></div>
    }
    <input type="submit" value="Guardar" />
}

<script src="~/Scripts/three.min.js"></script>
<script src="~/Scripts/LoaderSupport.js"></script>
<script src="~/Scripts/MTLLoader.js"></script>
<script src="~/Scripts/OBJLoader2.min.js"></script>
<script src="~/Scripts/Character.js"></script>
