<link href="~/Content/GenericEdit.scss" rel="stylesheet" type="text/scss" />

@using quien_es_quien.Models
@model User

@using (Html.BeginForm("Save")) {
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.Password)

    <label for="name">Nombre</label>
    @Html.TextBoxFor(x => x.Username, new { id = "name" })

    <label for="bestscore">Mejor Puntaje:</label>
    @Html.TextBoxFor(x => x.Bestscore, new { type = "number", id = "bestscore" })

    <label for="bitcoins">Bitcoins:</label>
    @Html.TextBoxFor(x => x.Bitcoins, new { type = "number", id = "bitcoins" })

    <label for="admin">Admin:</label>
    @Html.CheckBoxFor(x => x.Admin, new { id = "admin" })

    <input type="submit" value="Guardar" />
}