@using quien_es_quien.Models;
@{ var questionsAsked = Session["questionsAsked"] as List<int>;}

<div style="display: none" id="characters">
    @foreach (Character c in ViewBag.characters)
    {
        <character>
            @foreach (Characteristic ch in c.Characteristics)
            {
                <model>@ch.Url</model>
            }
        </character>
    }
</div>

<link href="~/Content/Game/Index.scss" rel="stylesheet" type="text/scss" />

<div id="models"></div>

<h1>Juego</h1>
<form id="question" action="/Game/Play">
    <span>Tiene</span>
    <select name="type">
        @foreach (CharacteristicType t in ViewBag.types)
        {
            <option value="@t.Id">@t.Name</option>
        }
    </select>
    <select name="characteristic">
        @foreach (Characteristic c in ViewBag.characteristics)
        {
            <option data-type="@c.Type" value="@c.Id">@c.Name</option>
        }
    </select>
    <span>?</span>
    <input type="submit" value="Preguntar" />
</form>

<script src="~/Scripts/three.min.js"></script>
<script src="~/Scripts/LoaderSupport.js"></script>
<script src="~/Scripts/MTLLoader.js"></script>
<script src="~/Scripts/OBJLoader2.min.js"></script>
<script async src="~/Scripts/Game.js"></script>
