@using quien_es_quien.Models;
@{ var QuestionsAsked = Session["QuestionsAsked"] as List<int>;}

<div style="display: none" id="characters">

    @foreach (Character c in ViewBag.characters) {
        <character data-name="@c.Name">
            @foreach (Characteristic ch in c.Characteristics) {
                <model>@ch.Url</model>
            }
        </character>
    }
</div>

<link href="~/Content/Game/Play.scss" rel="stylesheet" type="text/scss" />

<main>
    <h1>Preguntar</h1>
    <form id="question" action="/Game/Play">
        <span>Tiene</span>
        <select name="type">
            @foreach (CharacteristicType t in ViewBag.types) {
                <option value="@t.Id">@t.Name</option>
            }
        </select>
        <select name="characteristic">
            @foreach (Characteristic c in ViewBag.characteristics) {
                if (@QuestionsAsked.Contains(c.Id)) {
                    <option data-type="@c.Type" value="@c.Id" disabled>@c.Name</option>
                }
                else {
                    <option data-type="@c.Type" value="@c.Id">@c.Name</option>
                }
            }
        </select>
        <span>?</span>
        <input type="submit" value="Preguntar" />
        @if (ViewBag.hasIt != null) {
            <span id="answer" class="@(ViewBag.hasIt ? "yes" : "no")">@(ViewBag.hasIt ? "SI" : "NO")</span>
        }
    </form>
    <h1>Adivinar</h1>
    <form action="/Game/Guess">
        <select name="id">
            @foreach (Character c in ViewBag.characters) {
                <option value="@c.Id">@c.Name</option>
            }
        </select>
        <input type="submit" value="Adivinar" />
    </form>
    <h1>Bitcoins restantes</h1>
    <span class="bitcoins">@ViewBag.bitcoins</span>
</main>
<div id="models"></div>

<script src="~/Scripts/three.min.js"></script>
<script src="~/Scripts/LoaderSupport.js"></script>
<script src="~/Scripts/MTLLoader.js"></script>
<script src="~/Scripts/OBJLoader2.min.js"></script>
<script src="~/Scripts/Game.js"></script>
