<link href="~/Content/Config/GenericEdit.scss" rel="stylesheet" type="text/scss" />

@using quien_es_quien.Models
@model Character

@using (Html.BeginForm("SaveCharacter", "Config")) {
    @Html.HiddenFor(x => x.Id)
    <label for="name">Nombre</label>
    @Html.TextBoxFor(x => x.Name, new { id = "name" })

    foreach (CharacteristicType type in ViewBag.types) {
        <label>@type.Name</label>
        <select name="characteristics[]">
            @foreach (Characteristic ch in ViewBag.characteristics) {
                if (ch.Type == type.Id) {
                    <option value="@ch.Id">@ch.Name</option>
                }
            }
        </select>
    }
    <input type="submit" value="Guardar" />
}